/* ---- RESET CSS ---- */

html, body {
    height: 100%;
}

html {
    font-size: 100%;
    overflow-y: scroll;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}

body {
    margin: 0px;
    padding: 0px;
    font-family: Verdana, Geneva, sans-serif;
    color: #000;
    line-height: 1.231;
    font-size: 12px;
}

article, aside, details, figcaption, figure, footer, header, hgroup, nav, section {
    display: block;
}

* {
    outline: none;
}

p {
    text-align: left;
    margin: 0 0 10px 0;
    line-height: 18px;
}

p:last-child {
    margin: 0;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

img {
    border: 0;
    -ms-interpolation-mode: bicubic;
    vertical-align: middle;
}

nav ul {
    list-style: none;
    list-style-image: none;
    margin: 0;
    padding: 0;
}

fieldset, figure, form {
    border: 0;
    margin: 0;
    padding: 0;
}

button, input, select, textarea {
    font-size: 100%;
    margin: 0;
    vertical-align: baseline;
    *vertical-align: middle;
}

button, input {
    line-height: normal;
    *overflow: visible;
}

table button, table input {
    *overflow: auto;
}

button, input[type="button"], input[type="reset"], input[type="submit"] {
    cursor: pointer;
    -webkit-appearance: button;
}

input[type="checkbox"], input[type="radio"] {
    box-sizing: border-box;
}

label, input, select, textarea {
    font-family: Verdana, Geneva, sans-serif;
    font-size: 12px;
    font-weight: normal;
    line-height: normal;
}

textarea {
    overflow: auto;
    vertical-align: top;
    resize: vertical;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

td {
    vertical-align: top;
}

/* ---- LINKS ---- */
a {
    color: #b00c22;
    text-decoration: none;
}
a:hover {
    color: #000;
    text-decoration: none;
}
a img {
    border: none;
}

/* ---- HEADERS ---- */
h1, h2, h3, h4, h5, h6 {
    color: #000;
    font-weight: normal;
}
h1 {
    font-size: 30px;
}
h2 {
    font-size: 24px;
}
h3 {
    font-size: 18px;
}
h4 {
    font-size: 16px;
}
h5 {
    font-size: 14px;
}
h6 {
    font-size: 13px;
}

/* ---- TEXT SELECTION ---- */

::-moz-selection {

}

::selection {

}

/* ---- BACKGROUND ---- */
#background_overlay {
    position: fixed;
    top: 0 ;
    left: 0;
    height: 100%;
    width: 100%;
    background: url('../img/background/black_dot.png') top left repeat;
    z-index: -100;
}

/* ---- TOOLS ---- */
.clear {
    clear: both;
}

.alignleft {
    float: left;
    margin-right: 20px;
}

.aligncenter {
    margin: 0 auto;
}

.alignright {
    float: right;
    margin-left: 20px;
}

.relative {
    position: relative;
}

.container {
    width: 940px;
    margin: 0 auto;
    position: relative;
}

.hidden {
    overflow: hidden;
}

.block {
    display: block;
}

.inline {
    display: inline;
}

.ib {
    display: inline-block;
}

.indent {
    text-indent: -7000px;
}

.nomargin {
    margin: 0px;
}

/* ---- NAV BAR ---- */
#sidebar {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    width: 226px;
    height: 100%;
    background: url('../img/content/bg_menu.png') top left repeat-y;
}
#hide {
    position: absolute;
    top: 0px;
    right: -29px;
    cursor: pointer;
    width: 112px;
    height: 23px;
}
.hide { background: url('../img/content/hide.png') top left no-repeat; }
.show { background: url('../img/content/show.png') top left no-repeat!important; }

#logo {
    width: 155px;
    height: 135px;
    margin: 30px 0 0 20px;
}

#menu {
    font-family: "Eras Demi ITC", Verdana, Geneva, sans-serif;
    font-size: 14px;
    text-align: right;
    margin: 50px 0 0 0;
}
#menu li {
    height: 36px;
    line-height: 36px;
    width: 226px;
}
#menu li.active {
    background: url('../img/content/bg_menu_active.png') top left no-repeat;
}
#menu li.active a {
    text-transform: uppercase!important;
    color: #b00c22!important;
    margin-right: 25px!important;
}
#menu li a {
    color: #000;
    display: block;
    margin-right: 45px;
}
#menu li a:hover {
    color: #b00c22;
}

#networks {
    position: absolute;
    bottom: 65px;
    right: 45px;
    display: inline-block;
}
.network {
    display: inline-block;
    width: 26px;
    height: 26px;
    text-indent: -7000px;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
}
#fb { background:url('../img/sprites/networks.png') no-repeat 0px 0px; }
#fb:hover { background:url('../img/sprites/networks.png') no-repeat 0px -26px; }

#tw { background:url('../img/sprites/networks.png') no-repeat -26px 0px; }
#tw:hover { background:url('../img/sprites/networks.png') no-repeat -26px -26px; }

#gp { background:url('../img/sprites/networks.png') no-repeat -52px 0px; }
#gp:hover { background:url('../img/sprites/networks.png') no-repeat -52px -26px; }

#li { background:url('../img/sprites/networks.png') no-repeat -78px 0px; }
#li:hover { background:url('../img/sprites/networks.png') no-repeat -78px -26px; }

#gh { background:url('../img/sprites/networks.png') no-repeat -104px 0px; }
#gh:hover { background:url('../img/sprites/networks.png') no-repeat -104px -26px; }

#copyright {
    position: absolute;
    bottom: 20px;
    right: 45px;
    font-size: 10px;
    cursor: default;
}
#copyright p {
    line-height: 1.4em;
    text-align: right;
}

/* ---- CONTENT ---- */
.content {
    position: relative;
    margin: 0px 140px 160px 365px;
    height: 100%;
    min-width: 700px;
    padding-top: 140px;
}
.content h1 {
    font-family: "Eras Demi ITC", Verdana, Geneva, sans-serif;
    margin: 0 0 50px 0;
    padding: 0;
    display: block;
    color: #b00c22;
    font-size: 42px;
}
.content h1 span {
    font-family: Verdana, Geneva, sans-serif;
    text-transform: uppercase!important;
    font-size: 18px;
    color: #ffffff;
}

/* ---- HOME ---- */
#content_welcome {
    padding: 20px;
    background: rgba(0,0,0,0.8);
    color: #fff;
    border-top: 1px solid #2088c9;
}
#portrait {
    width: 50%;
    float: left;
    padding: 0 30px 0 20px;
    border-right: 1px solid #ccc;
}
#portrait img {
    display: inline-block;
    float: left;
    width: 265px;
    margin: 0 15px 15px 0;
}
#portrait p {
    line-height: 19px;
    font-size: 13px;
    margin-bottom: 15px;
}
#portrait blockquote {
    margin: 25px 20px 10px 0;
    padding: 0 20px;
    border-right: 3px solid #2088c9;
    color: #2088c9;
    line-height: 1.5;
    font-style: italic;
    font-family: Georgia;
    text-align: right;
}
#latest_projects {
    padding-left: 60%;
}
#latest_projects h2,
#big_networks h2 {
    font-family: "Eras Demi ITC", Verdana, Geneva, sans-serif;
    margin: 0 0 30px 0;
    padding: 0;
    display: block;
    color: #2088c9;
    font-size: 30px;
    text-align: center;
}
#latest_projects h2 span,
#big_networks h2 span {
    font-family: Verdana, Geneva, sans-serif;
    text-transform: uppercase!important;
    font-size: 12px;
    color: #ffffff;
}
#latest_projects ul {
    list-style: none;
}
#latest_projects li div{
    position: relative;
    display: block;
    width: 250px;
    margin: 15px auto 15px;
    cursor: pointer;
}
#latest_projects img {
    width: 250px;
}

/* ---- PROJECTS ---- */
#content_projects {
    overflow: hidden;
    min-height: 340px;
}

/* - CARROUSEL CONTROLS - */
.btn_slider {
    display: inline-block;
    padding: 3px 7px 7px 7px;
    font-size: 11px;
    color: #fff;
    position: absolute;
    top: 180px;
    cursor: pointer;
    background-color: #000;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
}
.btn_slider:hover {
    background-color: #b00c22;
}
#next {
    right: 33px;
}
#prev {
    right: 59px;
}
/* - SINGLE PROJECT - */
.single_project {
    position: relative;
    width: 200px;
    min-height: 365px;
    background-color: #fff;
    display: inline-block;
    margin: 0 40px 40px 0;
    border-top: 1px solid #2088c9;
    transition: 0.1s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    vertical-align: top;
}
.single_project:nth-child(3n+3) {
    margin :0 40px 40px 0;
}
.single_project > img {
    width: 100%;
}
.single_project:hover,
.project_active {
    background-color: #000;
}
.project_active {
    border-top: 1px solid #b00c22;
}
.single_project:hover h2,
.project_active h2 {
    color: #fff;
}
.single_project .description {
    padding: 20px;
}
.single_project .description p,
.single_project .description h2 {
    margin: 0px;
    padding: 0px;
}
.single_project .description h2 {
    font-family: "Eras Demi ITC", Verdana, Geneva, sans-serif;
    line-height: 1;
}
.single_project .description .text {
    color: #5e5e5e;
    padding-top: 10px!important;
}
.more {
    display: block;
    position: absolute;
    bottom: 0;
    right: 0;
    width: 31px;
    height: 31px;
    background: url('../img/sprites/more.png') top left no-repeat;
    text-indent: -7000px;
}
.single_project:hover .more,
#latest_projects li div:hover .more,
.project_active .more{
    background: url('../img/sprites/more.png') -31px 0px no-repeat;
}
.modal {
    display: none;
}
.slideprojects {
    display: inline-block;
}
.close_project {
    background-color: #b00c22;
    color: #fff;
    text-transform: uppercase;
    display: block;
    margin-top: 20px;
    padding: 5px;
    text-align: center;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
}
/* ---- FORMS ---- */
#form {
    position: relative;
    width: 45%!important;
    padding: 20px;
    background: rgba(0,0,0,0.8);
    color: #fff;
    border-top: 1px solid #2088c9;
}
#form > p {
    margin-bottom: 15px!important;
}
#form input[type="text"],
#form input[type="email"],
textarea {
    width: 95%;
    padding: 5px;
    border:none;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
}
#form input[type="text"]:focus,
#form input[type="email"]:focus,
textarea:focus {
    background-color: #e4e4e4;
}
#form textarea {
    height: 100px;
}
#submit {
    position: absolute;
    width: 100%;
    bottom: -26px;
    left: 0;
    border: none;
    background-color: #b00c22;
    color: #fff;
    text-transform: uppercase;
    display: block;
    padding: 5px;
    text-align: center;
    font-size: 14px;
    font-weight: bold;
}
#submit:hover {
    color: #000;
}
#success {
    background: #2088c9;
    color: #000;
    font-weight: bold;
    padding: 10px;
    text-transform: uppercase;
    text-align: center;
}
.error {
    background-color:#d91b5c!important;
}
.error::-webkit-input-placeholder {
    color:#fff!important;
}
#error_captcha {
    width: 80%;
    margin: 5px auto 5px;
    padding: 5px;
    bottom: -26px;
    border: none;
    background-color: #b00c22;
    color: #fff;
    text-transform: uppercase;
    display: none;
    text-align: center;
    font-size: 14px;
    font-weight: bold;
}
#loading {
    position: absolute;
    bottom: 40px;
    right: 40px;
    display: none;
}
#recaptcha_table {
    position: relative;
    width: 240px!important;
    background: #999;
}
.recaptchatable .recaptcha_image_cell{
    background: #999!important;
}
#recaptcha_image  {
    width: 240px!important;
}
#recaptcha_image > img {
    width: 240px!important;
}
#recaptcha_logo {
    position: absolute;
    bottom: 0px;
    right: 0px;
}
.recaptcha_input_area input {
    width: 200px!important;
}
