/**
    File: _variables.less
    Description: This file is intended to store all global-scope LESS variables for the application
    Summary:
        1.0 -- Main Fonts
        2.0 -- Main Colors
        3.0 -- Dimensions
        4.0 -- Z-Indexes
 */

//-----------------------
// 1.0 -- Main Fonts
@title-font: "Eras Demi ITC", Verdana, Geneva, sans-serif;
@text-font: Verdana, Geneva, sans-serif;

//-----------------------
// 2.0 -- Main Colors
@color-blue: #2088c9;
@color-red: #b00c22;
@color-black: #000;
@color-white: #fff;
